.vscode-test/
src/
test/
*.ts
!dist/**
tsconfig.json
esbuild.config.mjs
.eslintrc*
vitest.config.*
node_modules/**
!node_modules/better-sqlite3/**
!node_modules/bindings/**
!node_modules/file-uri-to-path/**
