.vscode-test/
.gitignore
.prettier*
src/
test/
*.ts
dist/*
!dist/extension.js
!dist/db-worker.js
tsconfig*.json
esbuild.config.mjs
.eslintrc*
eslint.config.mjs
vitest.config.*
node_modules/**
!node_modules/better-sqlite3/**
!node_modules/bindings/**
!node_modules/file-uri-to-path/**
